/* SKELETON LOADING STYLES */
.skeleton {
  background-image: linear-gradient(
    90deg,
    #060b55 25%,
    #f5f5f5 37%,
    #060b55 63%
  );
  border-radius: 4px;
  background-size: 200% 100%;
  animation: shimmer 3s ease infinite;
}

.skeleton-text {
  display: inline-block;
  width: 5rem;
  height: 1rem;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
