/* SKELETON LOADING STYLES */
.skeleton {
  background-image: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f5f5f5 37%,
    #e0e0e0 63%
  );
  border-radius: 4px;
  background-size: 200% 100%;
  animation: shimmer 1.4s ease infinite;
}

.skeleton-text {
  height: 2rem;
  width: 2rem;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
