/* ==== CSS RESET ==== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --background-color: #03045e;
  --text-color: white;
  --font: "Montserrat", sans-serif;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
  font-family: var(--font);
}

p {
  font-size: clamp(0.5rem, 2.5vw, 1.1rem);
}

.weather-app__container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.search-place {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.search-place input {
  padding: 0.5rem 1rem;
  border: none;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  font-family: var(--font);
  outline: none;
}

.search-place button {
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0.5rem 1rem;
  font-family: var(--font);
  margin-left: -1rem;
  background: rgb(170, 168, 168);
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 75dvh;
}

.place-searched {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
  font-size: large;
}

.place-name {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
}

.city-name,
#country-name {
  font-size: clamp(0.5rem, 6vw, 1.5rem);
}

.date-today {
  font-size: clamp(0.5rem, 3vw, 0.8rem);
}

.place-temperature {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -1rem;
}

.place-temperature__measure {
  font-size: clamp(5rem, 38vw, 10rem);
  font-weight: 700;
  background: linear-gradient(to bottom, white, var(--background-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 3px rgba(243, 235, 235, 0.3);
}

.place-temperature__degree {
  font-size: clamp(1.5rem, 20vw, 3rem);
  align-self: flex-start;
  padding-top: 1rem;
  font-size: clamp(1rem, 10vw, 3rem);
}

.place-forecast {
  display: flex;
  justify-content: center;
  border: 2px solid white;
  border-radius: 2rem;
  padding: 1rem;
}

.forecast-item {
  width: 100%;
  max-width: 100%;
  margin: 0 0.5rem;
}

.forecast-item div {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
  margin-bottom: clamp(0, 2vh, 0.5rem);
  font-size: clamp(0.5rem, 3vw, 1.1rem);
  font-weight: 500;
}

.forecast-item span {
  font-size: clamp(0.5rem, 2.5vw, 1.1rem);
  text-align: center;
}

.forecast-item--weather {
}

.forecast-item--weather div span img {
  width: 1rem;
  height: 1rem;
}

/* Swipe section styles */

.swipe-section {
  position: fixed;
  min-height: 100dvh;
  top: 95%;
  right: 0;
  left: 0;
  transition: transform 2s ease;
  background-color: var(--text-color);
  color: var(--background-color);
  border-radius: 2rem;
}

.swipe-section.is-open {
  transform: translateY(-80%);
}

.no-scroll {
  overflow: hidden;
}

.swipe-section button {
  margin: 0.5rem auto;
  display: flex;
  justify-self: center;
  background: none;
  border: none;
}

.swipe-section button i {
  font-size: 1rem;
}

.swipe-forecast {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.sheet-card {
  font-size: clamp(0.5rem, 2.5vw, 1.1rem);
  padding: 1rem;
}

.sheet-card ul {
  list-style-position: inside;
}

footer div p {
  text-align: center;
}
