/* ==== CSS RESET ==== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 2px solid red;
}

:root {
  --background-color: #03045e;
  --text-color: white;
}

html {
  font-size: 16px;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.weather-app__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  background-color: yellow;
}
