/* ==== CSS RESET ==== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

:root {
  --background-color: #03045e;
  --text-color: white;
}

html {
  font-size: 16px;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.weather-app__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: pink;
  height: 100vh;
}

.search-place {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.search-place input {
  padding: 0.5rem 1rem;
  border: none;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.search-place button {
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
