/* ==== CSS RESET ==== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

:root {
  --background-color: #03045e;
  --text-color: white;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: clamp(0.5rem, 3vw, 1.1rem);
}

p {
  font-size: clamp(0.5rem, 2.5vw, 1.1rem);
}

.weather-app__container {
  display: flex;
  flex-direction: column;
  background-color: pink;
  min-height: 100dvh;
}

.search-place {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.search-place input {
  padding: 0.5rem 1rem;
  border: none;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.search-place button {
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0.5rem 1rem;
}

main {
  background-color: blue;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.current-weather {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: space-around;
  min-height: 100dvh;
}

.place-searched {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
  font-size: large;
}

.city-name {
  font-size: clamp(0.5rem, 6vw, 1.5rem);
}

.date-today {
  font-size: clamp(0.5rem, 3vw, 0.8rem);
  background-color: indianred;
}

.place-temperature {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -1rem;
  background-color: forestgreen;
}

.place-temperature__measure h3 {
  font-size: clamp(5rem, 38vw, 10rem);
  background: linear-gradient(to bottom, white, var(--background-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 3px rgba(243, 235, 235, 0.3);
}

.place-temperature__degree h3 {
  font-size: clamp(1.5rem, 20vw, 3rem);
  position: absolute;
  top: 1.5rem;
  left: clamp(4rem, 40vw, 9.5rem);
}

.place-forecast {
  display: flex;
  justify-content: center;
  border: 2px solid white;
  border-radius: 2rem;
  padding: 1rem;
  background-color: orange;
}

.forecast-item {
  padding-left: 1rem;
  background-color: purple;
  width: 100%;
  max-width: 100%;
}

.forecast-item div {
  display: flex;
  column-gap: 0.2rem;
  margin-bottom: 0.5rem;
  font-size: clamp(0.5rem, 3vw, 1.1rem);
  background-color: chartreuse;
}

.forecast-item p {
  font-size: clamp(0.5rem, 2.5vw, 1.1rem);
  text-align: center;
}

.swipe-section {
  position: fixed;
  background-color: aquamarine;
  min-height: 100dvh;
  top: 95%;
  right: 0;
  left: 0;
  transition: transform 2s ease;
}

.swipe-section.is-open {
  background-color: deeppink;
  transform: translateY(-80%);
}

.no-scroll {
  overflow: hidden;
}

.swipe-forecast {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

footer div p {
  text-align: center;
}
